img {
    display: block;
    max-width: 100%;
    height: auto;
  }

h2 {
    margin-bottom: 0px;
    line-height: 0.72em;
    margin-top: 999px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.72em;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.72em;
}
